nav {
    background-color: #1a7a3a;
    padding: 10px 20px;
    display: flex;
    justify-content: flex-end;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #004d40;
}
h1 {
    text-align: center;
    margin-top: 30px;
    color: #33b300;
}

p {
    text-align: left;
    font-size: 18px;
    margin: 8px 0;
}

img {
    display: block;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

/* Tambahan supaya mirip kartu penginapan */
.penginapan {
    background: rgb(223, 221, 221);
    width: 400px;
    margin: 40px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}
.penginapan p {
    text-align: left;
    padding-left: 10px;
}

.penginapan h1 {
    text-align: center;
    padding-left: 10px;
}

.penginapan img {
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

/* Style untuk halaman fasilitas */
.fasilitas {
    max-width: 900px;
    margin: 40px auto;
    background: rgb(219, 170, 170);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.fasilitas h2 {
    text-align: left;
    color: #00b386;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

caption {
    caption-side: top;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 20px;
    color: #333;
}

th, td {
    border: 1px solid #f8f6f6;
    padding: 12px 15px;
    text-align: left;
}

th {
    background-color: #00b386;
    color: rgb(121, 6, 6);
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #0c1616;
}
/* Style untuk halaman menu makan */
.menu makan {
    max-width: 900px;
    margin: 40px auto;
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.menu makan h2 {
    text-align: left;
    color: #00b386;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

caption {
    caption-side: top;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 20px;
    color: #333;
}

th, td {
    border: 1px solid #ddd;
    padding: 12px 15px;
    text-align: left;
}

th {
    background-color: #00b386;
    color: rgb(12, 12, 12);
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #eaeeee;
}